---
import '../styles/global.scss';
import '../styles/layout/navbar.scss';
import '../styles/home/about-us.scss';
import '../styles/home/banner.scss';
import '../styles/home/contact.scss';
import '../styles/home/highlighted-events.scss';
import '../styles/home/join-the-team.scss';
import '../styles/home/next-events.scss';
import '../styles/home/organizers.scss';

import GoogleAnalytics from '../components/google-analytics/google-analytics.astro';
import { NavbarComponent } from '../components/layout/navbar/navbar.component';
import { AboutUsComponent } from '../components/home/about-us/about-us.component';
import { BannerComponent } from '../components/home/banner/banner.component';
import { ContactComponent } from '../components/home/contact/contact.component';
import { HighlightedEventsComponent } from '../components/home/highlighted-events/highlighted-events.component';
import { JoinTheTeamComponent } from '../components/home/join-the-team/join-the-team.component';
import { NextEventsComponent } from '../components/home/next-events/next-events.component';
import { OrganizersComponent } from '../components/home/organizers/organizers.component';

const siteUrl = 'https://ng.com.bo';
const ogImage = `${siteUrl}/img/meta-icon.png`;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Angular Bolivia</title>
    <base href="/" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Comunidad de desarrolladores Angular en Bolivia."
    />
    <meta name="keywords" content="angular, bolivia, angular bolivia" />
    <meta property="og:title" content="Angular Bolivia" />
    <meta property="og:description" content="Comunidad de desarrolladores Angular en Bolivia." />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={siteUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Angular Bolivia" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Angular Bolivia" />
    <meta name="twitter:description" content="Comunidad de desarrolladores Angular en Bolivia." />
    <meta name="twitter:image" content={ogImage} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=2.0.0" />
  </head>
  <body>
    <NavbarComponent />
    <BannerComponent />
    <div id="next-events" class="multi-section-container">
      <NextEventsComponent />
      <HighlightedEventsComponent />
      <AboutUsComponent />
    </div>
    <OrganizersComponent />
    <JoinTheTeamComponent />
    <ContactComponent />
    <GoogleAnalytics />
  </body>
</html>
